services:
  agent:
    build:
      context: .
      dockerfile: Dockerfile
      target: prod
    container_name: smart_energy_agent
    restart: unless-stopped
    privileged: true
    network_mode: host

    volumes:
      - ./config.json:/app/config.json:rw
      - ./hardware_config.json:/app/hardware_config.json:rw
      - ./logs:/app/logs:rw

    env_file:
      - .env
