services:
  agent:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    container_name: smart_energy_agent_dev
    restart: unless-stopped
    privileged: true
    network_mode: host

    volumes:
      - ./app:/app
      - ./config.json:/app/config.json:rw

    env_file:
      - .env

    environment:
      LOG_DIR: /app/logs
