ENV=develop
LOG_DIR=logs

BACKEND_URL=BACKEND_AGENT_TOKEN=
NATS_URL=
CONFIG_FILE=config.json
LOG_DIR=logs
NATS_PREFIX=device_communication
DOCKERIO_USERNAME=
DOCKERIO_TOKEN=
AGENT_IMAGE=docker.io/kennydaktyl/smart-agent
AGENT_TAG=agent_v1.0.0
AGENT_SELF_UPDATE_CWD=/app
AGENT_SELF_UPDATE_SERVICE=agent
# AGENT_SELF_UPDATE_COMPOSE_FILE=/app/docker-compose.yml
